# Server configuration
PORT=5000
FLASK_ENV=development
CLIENT_URL=http://localhost:3000

# Database Connection (Supabase PostgreSQL Connection Pooler URL)
DATABASE_URL=postgresql://postgres.your-project-ref:password@aws-1-ap-south-1.pooler.supabase.com:5432/postgres

# Supabase Client Authentication Configuration (JWKS validation)
SUPABASE_URL=https://your-project-ref.supabase.co
SUPABASE_ANON_KEY=your-anon-public-key
SUPABASE_SERVICE_ROLE_KEY=your-service-role-private-key

# PhonePe PG Integration configuration
PHONEPE_MERCHANT_ID=your_merchant_id
PHONEPE_SALT_KEY=your_salt_key_string
PHONEPE_SALT_INDEX=1
PHONEPE_ENV=sandbox # Use "sandbox" or "production"
